In [ ]:
import pandas as pd

sub = pd.read_csv('outputs/submission.csv')
more_than_50 = sub[sub['clicked'] > 0.5]
print(more_than_50.describe())
less_than_50 = sub[sub['clicked'] < 0.5]
print(less_than_50.describe())

print(len(sub))

        clicked
count  3.000000
mean   0.999993
std    0.000011
min    0.999980
25%    0.999990
50%    1.000000
75%    1.000000
max    1.000000
            clicked
count  1.527295e+06
mean   1.761491e-02
std    1.857865e-03
min    0.000000e+00
25%    1.639945e-02
50%    1.744428e-02
75%    1.862195e-02
max    1.287782e-01
1527298

In [5]:
sub.describe()

            clicked
count  1.527298e+06
mean   1.761684e-02
std    2.312421e-03
min    0.000000e+00
25%    1.639945e-02
50%    1.744428e-02
75%    1.862196e-02
max    1.000000e+00